language: node_js
node_js:
- '8'

cache:
  directories:
    - node_modules

env:
  global:
    secure: DzMr6L72ViJQAnnGMHs0U+hv228iOWWKrOPVumQWOkX0I4bJtPqB0TioC8he8E2N3TVyRDViwUSUR8pFfu1Pgh9hpk5qyAa85kHpMwBaoqxq219YCIelC+ILOSWULtNWz+xjgEmGTSO6Oa8OLzDkAbBziapQKoYsio2F5Fl/idfM2GFpz33rkCahKkx1HiiAG16K3Cxd28UfXtE9+ceBZcxHUfu1n2fi0P7GNQjM3gylW/asSvxccTaMbc/vqcUmwjsiKSvuGcxFQaDY6zO+YGwhDodQTNm1KTisby/hZnioJ2e8lIQ3or58mHaKV99Q15I1A+/5kUrzc4m9IjdPyugmtxHCMLTbrM+iAMgmDVSSNtJQM6nOmq1nKZFDRq0AjOES6zblAdAmGgPRvzy3ybgsPr5Wyhcy6JJS0nLXfOxVMfpmVD9H5N9iGvuRUZAkQyh59dOrNJvwN8UwkLkphYtaiXhpJaW2magS/tB8MnHbb67Mx5UazKT6BQzRi1bLrbwWjmQbrOO25GgLw0qPvloPiDBcViiNqC225q8N7N3GQTqrn1LXH9N1oNjd8APX2VCAZ9Od0UNDdx06Ky1h4on3uyguYt+o9xUvPyhLJsT0fFX4mncaT3CxioW5nZepRbKkoHjzPwbv1FtMuONvDFJyizbsI+MalQn/Nqsh+IU=

stages:
  - install
  - unit-test
  - integration-test
  - name: tag
    if: branch = master
  - name: deploy
    if: tag =~ ^([0-9]\.){2}[0-9].*$

jobs:
  include:
    - stage: install
      script:
        - npm install
    - stage: unit-test
      script:
        - npm run test:coverage
        - npm install coveralls && nyc report --reporter=text-lcov | coveralls
    - stage: integration-test
      script:
        - ls test/integration/test-project/packages/two/
        - npm run test:integration:setup
        - npm run test:integration
        - npm run test:integration:teardown
    - stage: tag
      before_script:
        - git config --global user.email ""
        - git config --global user.name "Travis-CI"
      script:
        - git config credential.helper "store --file=.git/credentials"
        - echo "https://${GH_TOKEN}:@github.com" > .git/credentials
        - VERSION=$(cat package.json | jq -r .version)
        - if [ -z $(git tag -l $VERSION) ]; then git tag $VERSION && git push --tags ; fi
    - stage: deploy
      script: skip
      deploy:
        provider: npm
        email: iain.allan.mcdonald@googlemail.com
        api_key:
          secure: m+l3+bzLK+MXRPzGVWzXK7MKnpeZ/d/+jkZtdIckn/OXeOJBgr6tMIMoS07XsYYCf6zg9p+cdwWw6Gu0Vgzjyl8+n4qXweQWjwdc/jvRlO/wUg1EJbwyDhYGdLL3n+mLmDDmTcXGvVqZHKWLzp3uF0o8v5fxEfYO8Hwdx7OCgiB1b6bFolPTqGSO9OL2jJEV/p3WGed/H70nyu4PC3Oe9dOiaeolb8q6XHTi4/nATkQgV+1Jng1z4AIqbkGlGLZYFvPDhqHwko+vgIP2fAdkoKatNMBcn3sf1zWNRuKLVGVxSw81rcSjiL7PRfDcTHTB/axSEdc+X8bJOwsGOMjwjE7XNtzLO0EArIW0ytc5cs3hZZ7oHkPSy+66WxWQltMp7tWzzXnw0MT3d58j9Fs/nwuZa8Z8DZ11cFYwRGAmnCl+vsMeaYkoIBxcdXllhDn3HdW+7bsDZUzlH1rEZt6zYf6vglWSi0bwk4hWAuf2rWhNqKejXabxbcRvjL2P+2VnpJuOMCs3fXNjndig+/zngayoZDWU5CRxIFcvKqIVWW5ju6DnpOCiUQpzX0wngZinNkqQR7QQA5k021cC2BUCufCaE5Uj1Z6Tbup/y1zcBatg6wZ5gAF5+ePImG9HPFbcXX05XVsISJD/n/AMXxBo+0hWbWrdNfalQZpwHP7raLY=
        on:
          tags: true
          repo: iamcdonald/pckr
          if: tag =~ ^([0-9]\.){2}[0-9].*$
